In [1]:
import pandas as pd
import json
from sklearn import preprocessing
import numpy as np
import matplotlib.pyplot as plt

# 1. Data exploration
deep dive into the world of pandas

## 1.1 UntypedDataSet

In [2]:
# initialiseer dataframe.
dfUntypedDataSet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/UntypedDataSet?$top=1")

In [ ]:
# Loop tot alle data points in dataframe zitten met limiet van 10000 per keer.
top = 9668
skip = 1
while skip < 96681:
    big = dfUntypedDataSet.append(pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/UntypedDataSet?$top=" + str(top) + "&$skip=" + str(skip)))
    skip = skip + 9668
    dfUntypedDataSet = big

Nu hebben we de alle UntypedDataSet in een df, hiervan willen we alleen de values.

In [ ]:
# lijst maken van values in df.
DatasetUntypesList = dfUntypedDataSet["value"].tolist()

In [ ]:
# dataframe maken van lijst met beoogde values.
newDF = pd.DataFrame(DatasetUntypesList)

In [ ]:
newDF

## 1.2 Typed DataSet

In [ ]:
dftypedDataSet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet?$top=1")

In [ ]:
top = 9668
skip = 1
url = "http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet"
while skip < 96681:
    big = dftypedDataSet.append(pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet?$top=" + str(top) + "&$skip=" + str(skip)))
    skip = skip + 9668
    dftypedDataSet = big

In [ ]:
# lijst maken van values in df.
DatasetTypedList = dftypedDataSet["value"].tolist()

In [ ]:
# dataframe maken van lijst met beoogde values.
newDF2 = pd.DataFrame(DatasetTypedList)

In [ ]:
columns = newDF2.columns
columns

In [ ]:
newDF2.head()

## 1.2.1 Inspecting Data

In [ ]:
#Describe the sepal length column
#print("Mean:" + str(newDF2["Afzet"].mean()))
#print("Standard deviation: " + str(newDF2["Afzet"].std()))
#print("Kurtosis: " + str(newDF2["Afzet"].kurtosis()))
#print("Skewness: " + str(newDF2["Afzet"].skew()))

# All data laten zien dat ontbreekt.
newDF2.isnull().sum()

In [ ]:
# pandas dataframe met alleen columns waar data ontbreekt.
missingData = newDF2[["BedrijfstakkenBranchesSBI2008","OntwikkelingTOV1JaarEerder_2","OntwikkelingTOV1MaandEerder_3", "Perioden" ,"ProducentenprijsindexPPI_1"]]

# df met data waar alle data ontbreekt.
allMissing = missingData.loc[(missingData["OntwikkelingTOV1JaarEerder_2"].isnull()) & (missingData["OntwikkelingTOV1MaandEerder_3"].isnull()) & (missingData["ProducentenprijsindexPPI_1"].isnull())]

In [ ]:
i = 0
branches936 = []
dates936 = []
smallBranches = []
bigBranches = []
tempBranch = []

# loop over alle branches, isoleer branch, verkrijg alle rows waarbij alle data ontbreekt.
# als er precies 936 data punten ontbreekt sla het op in list en de bijhorende datums.
while i < len(newDF2["BedrijfstakkenBranchesSBI2008"].unique()):
    branch = newDF2["BedrijfstakkenBranchesSBI2008"].unique()[i]
    foo = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == branch]
    x = len(foo)
    bar = foo.loc[(foo["OntwikkelingTOV1JaarEerder_2"].isnull()) & (foo["OntwikkelingTOV1MaandEerder_3"].isnull()) & (foo["ProducentenprijsindexPPI_1"].isnull())]
    tar = foo.loc[(foo["OntwikkelingTOV1JaarEerder_2"].isnull()) | (foo["OntwikkelingTOV1MaandEerder_3"].isnull()) | (foo["ProducentenprijsindexPPI_1"].isnull())]
    y = len(bar)
    z = len(tar)
    if y == 936:
        branches936.append(branchNamen.loc[branchNamen["Key"] == branch]["Title"].tolist())
        dates936.append(bar["Perioden"].tolist())
    elif y != 936 and y > 100:
        bigBranches.append(branch)
        #print(branch, x, y, z)
    elif y > 0 and y < 100:
        smallBranches.append(branch)
        #print(branch, x, y, z)
    elif z == 183:
        tempBranch.append(branch)
    print(branch, x, y, z) 
    i += 1

In [ ]:
tempBranch

In [ ]:
for i in tempBranch:  
    print(branchNamen.loc[branchNamen["Key"] == i])

In [ ]:
# de 183 missing data te wijten aan begin van meting en zgn jaar meting?
dummy = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "311300"]
dummy

## 1.2.2 dealing with missing data

##### Alle branches waar precies 936 data punten ontbreken.

In [ ]:
branches936

In [ ]:
# Alle datums van de branches waar precies 936 miste komen overeen.
# Vanaf begin 1981 tot eind 2004 is er voor deze branches niks gemeten.
dates936

#### Data waarbij prijs in alle gevallen ontbrak bij minder dan 100 data punten

In [ ]:
for i in smallBranches:  
    print(branchNamen.loc[branchNamen["Key"] == i])

In [ ]:
smallBranches

In [ ]:
smallRemoved = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "305700"]

for item in smallBranches:
    if item != "305700":
        temp = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == item]
        temp = temp.loc[(temp["OntwikkelingTOV1JaarEerder_2"].notnull()) | (temp["OntwikkelingTOV1MaandEerder_3"].notnull()) | (temp["ProducentenprijsindexPPI_1"].notnull())]
        smallRemoved = smallRemoved.append(temp)

#smallRemoved
testData = smallRemoved.interpolate()
testData.isnull().sum()

#### Data waarbij prijs in alle gevallen ontbrak bij meer dan 100 data punten

In [ ]:
for i in bigBranches:  
    print(branchNamen.loc[branchNamen["Key"] == i])

In [ ]:
jaarlozenummers = []
for i,datum in enumerate(newDF2["Perioden"].tolist()):
    if datum.find("MM") != -1:
        jaarlozenummers.append(i)

CleanDF2 = newDF2.iloc[jaarlozenummers]
CleanDF2 = CleanDF2.drop(columns=["Wegingcoefficient_4"])

In [ ]:
afzet = ["A4","A5","A6"]
for i in branchNamen["Key"]:
    BranchTemp = CleanDF2.loc[CleanDF2["BedrijfstakkenBranchesSBI2008"] == i]
    BranchTemp = BranchTemp.interpolate()
    BranchClean = BranchTemp.loc[(BranchTemp["OntwikkelingTOV1JaarEerder_2"].notnull()) | (BranchTemp["OntwikkelingTOV1MaandEerder_3"].notnull()) | (BranchTemp["ProducentenprijsindexPPI_1"].notnull())]
    for k in afzet:
        BranchCleanAfzet = BranchClean.loc[BranchClean["Afzet"] == k]
        BranchCleanAfzet.to_csv(i + " - " + k)

In [ ]:
# 308100 begint later (Visverwerkende industrie)
#temp1 = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "308100"]
#temp1.loc[(temp1["OntwikkelingTOV1JaarEerder_2"].notnull()) | (temp1["OntwikkelingTOV1MaandEerder_3"].notnull()) | (temp1["ProducentenprijsindexPPI_1"].notnull())]

In [ ]:
#310100 van 2005 tot 2008 gemeten. (Suikerindustrie)
#temp1 = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "310100"]
#temp1.loc[(temp1["OntwikkelingTOV1JaarEerder_2"].notnull()) | (temp1["OntwikkelingTOV1MaandEerder_3"].notnull()) | (temp1["ProducentenprijsindexPPI_1"].notnull())]

In [ ]:
# 311600 helemaal leeg. (1102 Wijnindustrie uit druiven) Laten vallen.
#temp1 = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "311600"]
#temp1.loc[(temp1["OntwikkelingTOV1JaarEerder_2"].notnull()) | (temp1["OntwikkelingTOV1MaandEerder_3"].notnull()) | (temp1["ProducentenprijsindexPPI_1"].notnull())]

In [ ]:
# 344400 begint 2010 tot 2017. Reparatie en installatie van machines.
#temp1 = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "344400"]
#temp1.loc[(temp1["OntwikkelingTOV1JaarEerder_2"].notnull()) | (temp1["OntwikkelingTOV1MaandEerder_3"].notnull()) | (temp1["ProducentenprijsindexPPI_1"].notnull())]

In [ ]:
# Helemaal leeg. 348000  Waterbedrijven en afvalbeheer laten vallen.
#temp1 = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "3348000"]
#temp1.loc[(temp1["OntwikkelingTOV1JaarEerder_2"].notnull()) | (temp1["OntwikkelingTOV1MaandEerder_3"].notnull()) | (temp1["ProducentenprijsindexPPI_1"].notnull())]

In [ ]:
# Waterleidingbedrijven 348100 begint 1981 tot eind 2017. Is volledig, heeft maar 1 meting per maand.
#temp1 = newDF2.loc[newDF2["BedrijfstakkenBranchesSBI2008"] == "348100"]
#temp1.loc[(temp1["OntwikkelingTOV1JaarEerder_2"].notnull()) | (temp1["OntwikkelingTOV1MaandEerder_3"].notnull()) | (temp1["ProducentenprijsindexPPI_1"].notnull())]

### 1.3TableInfos

In [ ]:
dfTableInfos = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TableInfos")

In [ ]:
dfTableInfos["value"]

### 1.4 DataProperties

In [ ]:
dfDataProperties = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/DataProperties")
dfDataProperties["value"]

### 1.5 CategoryGroups

In [ ]:
dfCategoryGroups = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/CategoryGroups")
listCat = dfCategoryGroups["value"].tolist()
pdCatGroup = pd.DataFrame(listCat)

### 1.6 Afzet

In [ ]:
dfAfzet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/Afzet")
dfAfzet["value"][0]

A6: Afzet van in Nederland geproduceerde goederen door de betreffende (sub)sectie(s) ongeacht of deze zijn afgezet in binnenland of buitenland. AKA Totaal.

A4: Binnenlandse afzet van in Nederland geproduceerde goederen door de betreffende bedrijfstakken. Binnenlandse afzet.

A5: Buitenlandse afzet van in Nederland geproduceerde goederen door de betreffende bedrijfstakken. AKA Buitenlands Afzet.

### 1.7 BedrijfstakkenBranchesSBI2008

In [ ]:
dfBedrijfstakkenBranchesSBI2008 = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/BedrijfstakkenBranchesSBI2008")
pdBedrijfstakkenSBI = pd.DataFrame(dfBedrijfstakkenBranchesSBI2008["value"].tolist())
pdBedrijfstakkenSBI

In [ ]:
#dfBedrijfstakkenBranchesSBI2008.loc[newDF2['Value'] == "A6"]
branchNamen = pdBedrijfstakkenSBI[["Key","Title"]]
branchNamen

### 1.8 Perioden

In [41]:
dfPerioden = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/Perioden")
dfPeriodenlist = dfPerioden["value"].tolist()
dfPeriod = pd.DataFrame(dfPeriodenlist)