In [72]:
import pandas as pd
import json
from sklearn import preprocessing
import numpy as np
import matplotlib.pyplot as plt

# 1. Data exploration
deep dive into the world of pandas

## 1.1 UntypedDataSet

In [147]:
# initialiseer dataframe.
dfUntypedDataSet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/UntypedDataSet?$top=1")

In [148]:
# Loop tot alle data points in dataframe zitten met limiet van 10000 per keer.
top = 9668
skip = 1
while skip < 96681:
    big = dfUntypedDataSet.append(pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/UntypedDataSet?$top=" + str(top) + "&$skip=" + str(skip)))
    skip = skip + 9668
    dfUntypedDataSet = big

Nu hebben we de alle UntypedDataSet in een df, hiervan willen we alleen de values.

In [174]:
# lijst maken van values in df.
DatasetUntypesList = dfUntypedDataSet["value"].tolist()

In [175]:
# dataframe maken van lijst met beoogde values.
newDF = pd.DataFrame(DatasetUntypesList)

In [178]:
newDF

,Afzet,BedrijfstakkenBranchesSBI2008,ID,OntwikkelingTOV1JaarEerder_2,OntwikkelingTOV1MaandEerder_3,Perioden,ProducentenprijsindexPPI_1,Wegingcoefficient_4
0,A6,305700,0,,,1981MM01,53.8,-
1,A6,305700,1,,0.6,1981MM02,54.1,-
2,A6,305700,2,,0.4,1981MM03,54.3,-
3,A6,305700,3,,0.0,1981MM04,54.3,-
4,A6,305700,4,,0.4,1981MM05,54.5,-
5,A6,305700,5,,1.0,1981MM06,55.0,-
6,A6,305700,6,,1.0,1981MM07,55.6,-
7,A6,305700,7,,-0.1,1981MM08,55.5,-
8,A6,305700,8,,-0.2,1981MM09,55.4,-
9,A6,305700,9,,-0.1,1981MM10,55.4,-
10,A6,305700,10,,0.0,1981MM11,55.4,-
11,A6,305700,11,,0.0,1981MM12,55.4,-
12,A6,305700,12,,,1981JJ00,54.9,-
13,A6,305700,13,7.6,4.5,1982MM01,57.9,-
14,A6,305700,14,7.8,0.8,1982MM02,58.3,-
15,A6,305700,15,8.1,0.7,1982MM03,58.7,-
16,A6,305700,16,9.4,1.2,1982MM04,59.4,-
17,A6,305700,17,9.4,0.3,1982MM05,59.6,-
18,A6,305700,18,8.0,-0.3,1982MM06,59.4,-
19,A6,305700,19,6.5,-0.3,1982MM07,59.2,-
20,A6,305700,20,6.2,-0.4,1982MM08,58.9,-
21,A6,305700,21,5.7,-0.6,1982MM09,58.6,-
22,A6,305700,22,5.7,0.0,1982MM10,58.5,-
23,A6,305700,23,6.6,0.8,1982MM11,59.0,-
24,A6,305700,24,6.7,0.2,1982MM12,59.1,-
25,A6,305700,25,7.3,,1982JJ00,58.9,-
26,A6,305700,26,2.5,0.3,1983MM01,59.3,-
27,A6,305700,27,1.7,-0.1,1983MM02,59.3,-
28,A6,305700,28,0.9,0.0,1983MM03,59.2,-
29,A6,305700,29,-0.3,0.0,1983MM04,59.2,-
...,...,...,...,...,...,...,...,...
96651,A5,348100,96651,,,2015MM10,,-
96652,A5,348100,96652,,,2015MM11,,-
96653,A5,348100,96653,,,2015MM12,,-
96654,A5,348100,96654,,,2015JJ00,,-
96655,A5,348100,96655,,,2016MM01,,-
96656,A5,348100,96656,,,2016MM02,,-
96657,A5,348100,96657,,,2016MM03,,-
96658,A5,348100,96658,,,2016MM04,,-
96659,A5,348100,96659,,,2016MM05,,-
96660,A5,348100,96660,,,2016MM06,,-
96661,A5,348100,96661,,,2016MM07,,-
96662,A5,348100,96662,,,2016MM08,,-
96663,A5,348100,96663,,,2016MM09,,-
96664,A5,348100,96664,,,2016MM10,,-
96665,A5,348100,96665,,,2016MM11,,-
96666,A5,348100,96666,,,2016MM12,,-
96667,A5,348100,96667,,,2016JJ00,,-
96668,A5,348100,96668,,,2017MM01,,-
96669,A5,348100,96669,,,2017MM02,,-
96670,A5,348100,96670,,,2017MM03,,-
96671,A5,348100,96671,,,2017MM04,,-
96672,A5,348100,96672,,,2017MM05,,-
96673,A5,348100,96673,,,2017MM06,,-
96674,A5,348100,96674,,,2017MM07,,-
96675,A5,348100,96675,,,2017MM08,,-
96676,A5,348100,96676,,,2017MM09,,-
96677,A5,348100,96677,,,2017MM10,,-
96678,A5,348100,96678,,,2017MM11,,-
96679,A5,348100,96679,,,2017MM12,,-
96680,A5,348100,96680,,,2017JJ00,,-

## 1.2 Typed DataSet

In [2]:
dftypedDataSet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet?$top=1")

In [3]:
top = 9668
skip = 1
url = "http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet"
while skip < 96681:
    big = dftypedDataSet.append(pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet?$top=" + str(top) + "&$skip=" + str(skip)))
    skip = skip + 9668
    dftypedDataSet = big

In [4]:
# lijst maken van values in df.
DatasetTypedList = dftypedDataSet["value"].tolist()

In [5]:
# dataframe maken van lijst met beoogde values.
newDF2 = pd.DataFrame(DatasetTypedList)

In [10]:
columns = newDF2.columns
columns

Index(['Afzet', 'BedrijfstakkenBranchesSBI2008', 'ID',
       'OntwikkelingTOV1JaarEerder_2', 'OntwikkelingTOV1MaandEerder_3',
       'Perioden', 'ProducentenprijsindexPPI_1', 'Wegingcoefficient_4'],
      dtype='object')

In [17]:
newDF2.head()

,Afzet,BedrijfstakkenBranchesSBI2008,ID,OntwikkelingTOV1JaarEerder_2,OntwikkelingTOV1MaandEerder_3,Perioden,ProducentenprijsindexPPI_1,Wegingcoefficient_4
0,A6,305700,0,NaN,NaN,1981MM01,53.8,0.0
1,A6,305700,1,NaN,0.6,1981MM02,54.1,0.0
2,A6,305700,2,NaN,0.4,1981MM03,54.3,0.0
3,A6,305700,3,NaN,0.0,1981MM04,54.3,0.0
4,A6,305700,4,NaN,0.4,1981MM05,54.5,0.0

In [30]:
#Describe the sepal length column
#print("Mean:" + str(newDF2["Afzet"].mean()))
#print("Standard deviation: " + str(newDF2["Afzet"].std()))
#print("Kurtosis: " + str(newDF2["Afzet"].kurtosis()))
#print("Skewness: " + str(newDF2["Afzet"].skew()))
newDF2.isnull().sum()

Afzet                                0
BedrijfstakkenBranchesSBI2008        0
ID                                   0
OntwikkelingTOV1JaarEerder_2     39885
OntwikkelingTOV1MaandEerder_3    41120
Perioden                             0
ProducentenprijsindexPPI_1       36179
Wegingcoefficient_4                  0
dtype: int64

In [104]:
#newDF2.loc[newDF2['Afzet'] == "A6"]
data = newDF2[["BedrijfstakkenBranchesSBI2008","OntwikkelingTOV1JaarEerder_2","OntwikkelingTOV1MaandEerder_3", "Perioden" ,"ProducentenprijsindexPPI_1"]]
delfstoffenwinningData = data.loc[data["BedrijfstakkenBranchesSBI2008"] == "305700"]
delfstoffenwinningData.isnull().sum()
a = data.loc[data["OntwikkelingTOV1JaarEerder_2"].isnull()]
b = a.loc[a["OntwikkelingTOV1MaandEerder_3"].isnull()]

foo = data.loc[(data["OntwikkelingTOV1JaarEerder_2"].isnull()) & (data["OntwikkelingTOV1MaandEerder_3"].isnull()) & (data["ProducentenprijsindexPPI_1"].isnull())]
x = len(foo.loc[foo["BedrijfstakkenBranchesSBI2008"] == "305700"])
y = len(data.loc[data["BedrijfstakkenBranchesSBI2008"] == "305700"])
print(x,y)

50 1443

In [113]:
i = 0
while i < len(data["BedrijfstakkenBranchesSBI2008"].unique()):
    branch = data["BedrijfstakkenBranchesSBI2008"].unique()[i]
    foo = data.loc[data["BedrijfstakkenBranchesSBI2008"] == branch]
    x = len(foo)
    bar = foo.loc[(foo["OntwikkelingTOV1JaarEerder_2"].isnull()) & (foo["OntwikkelingTOV1MaandEerder_3"].isnull()) & (foo["ProducentenprijsindexPPI_1"].isnull())]
    y = len(bar)
    print(x, y)
    i += 1

1443 50
1443 52
1443 0
1443 0
1443 936
1443 0
1443 936
1443 936
1443 936
1443 936
1443 940
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 936
1443 1391
1443 936
1443 936
1443 0
1443 1443
1443 936
1443 2
1443 936
1443 0
1443 0
1443 2
1443 936
1443 0
1443 936
1443 0
1443 0
1443 936
1443 4
1443 936
1443 0
1443 0
1443 0
1443 0
1443 936
1443 936
1443 936
1443 0
1443 0
1443 936
1443 936
1443 0
1443 0
1443 0
1443 936
1443 0
1443 0
1443 0
1443 0
1443 1235
1443 59
1443 87
1443 481
1443 481

### 1.3TableInfos

In [33]:
dfTableInfos = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TableInfos")

In [34]:
dfTableInfos["value"]

0    {'ID': 0, 'Title': 'Producentenprijzen; SBI 20...
Name: value, dtype: object

### 1.4 DataProperties

In [35]:
dfDataProperties = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/DataProperties")
dfDataProperties["value"]

0    {'odata.type': 'Cbs.OData.Dimension', 'ID': 0,...
1    {'odata.type': 'Cbs.OData.Dimension', 'ID': 1,...
2    {'odata.type': 'Cbs.OData.TimeDimension', 'ID'...
3    {'odata.type': 'Cbs.OData.Topic', 'ID': 3, 'Po...
4    {'odata.type': 'Cbs.OData.Topic', 'ID': 4, 'Po...
5    {'odata.type': 'Cbs.OData.Topic', 'ID': 5, 'Po...
6    {'odata.type': 'Cbs.OData.Topic', 'ID': 6, 'Po...
Name: value, dtype: object

### 1.5 CategoryGroups

In [64]:
dfCategoryGroups = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/CategoryGroups")
listCat = dfCategoryGroups["value"].tolist()
pdCatGroup = pd.DataFrame(listCat)

### 1.6 Afzet

In [48]:
dfAfzet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/Afzet")
dfAfzet["value"][0]

{'CategoryGroupID': None,
 'Description': 'Afzet van in Nederland geproduceerde goederen door de betreffende (sub)sectie(s) ongeacht of deze zijn afgezet in binnenland of buitenland. ',
 'Key': 'A6',
 'Title': 'Totaal'}

A6: Afzet van in Nederland geproduceerde goederen door de betreffende (sub)sectie(s) ongeacht of deze zijn afgezet in binnenland of buitenland. AKA Totaal.

A4: Binnenlandse afzet van in Nederland geproduceerde goederen door de betreffende bedrijfstakken. Binnenlandse afzet.

A5: Buitenlandse afzet van in Nederland geproduceerde goederen door de betreffende bedrijfstakken. AKA Buitenlands Afzet.

### 1.7 BedrijfstakkenBranchesSBI2008

In [56]:
dfBedrijfstakkenBranchesSBI2008 = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/BedrijfstakkenBranchesSBI2008")
listBedrijfstakken = dfBedrijfstakkenBranchesSBI2008["value"].tolist()
pdBedrijfstakkenSBI = pd.DataFrame(listBedrijfstakken)

In [80]:
#dfBedrijfstakkenBranchesSBI2008.loc[newDF2['Value'] == "A6"]
pdBedrijfstakkenSBI[["Key","Title"]]

       Key                                     Title
0   305700                      B Delfstoffenwinning
1   305800        06 Winning van aardolie en aardgas
2   306300  08 Delfstoffenwinning (geen olie en gas)
3   307500                               C Industrie
4   307610   10-12 Voedings-, genotmiddelenindustrie
5   307600              10 Voedingsmiddelenindustrie
6   307700   101 Slachterijen en vleeswarenindustrie
7   307800         1011 Slachterijen (geen pluimvee)
8   307900                 1012 Pluimveeslachterijen
9   308000           1013 Vleesverwerkende industrie
10  308100              102 Visverwerkende industrie
11  308300  103 Groente-, fruitverwerkende industrie
12  308400          1031 Aardappelproductenindustrie
13  308500     1032 Fruit- en groentesappenindustrie
14  308600  1039 Groente-,fruitverwerkende industrie
15  308700  104 SpijsoliÃ«n- en -vettenindustrie e.d.
16  308800      1041 SpijsoliÃ«n- en -vettenindustrie
17  309000                       105 Zuivelindustrie
18  309100           1051 Zuivelindustrie (geen ijs)
19  309300                         106 Meelindustrie
20  309400         1061 Meelindustrie (geen zetmeel)
21  309600          107 Brood- en deegwarenindustrie
22  309700           1071 Brood- en banketbakkerijen
23  310000     108 Overige voedingsmiddelenindustrie
24  310100                      1081 Suikerindustrie
25  310200     1082 Cacao- en chocoladewerkindustrie
26  311000                   109 Diervoederindustrie
27  311300                       11 Drankenindustrie
28  311600          1102 Wijnindustrie (uit druiven)
29  312100                   1107 Frisdrankindustrie
..     ...                                       ...
37  317105      17-18 Papier- en grafische industrie
38  317100                        17 Papierindustrie
39  318600                    18 Grafische industrie
40  320005            19-22 Raffinaderijen en chemie
41  320000                     19 Aardolie-industrie
42  320705  20-21 Chemie en farmaceutische industrie
43  320700                    20 Chemische industrie
44  323200               21 Farmaceutische industrie
45  323700   22 Rubber- en kunststofproductindustrie
46  324600                23 Bouwmaterialenindustrie
47  328110                      24-30, 33 Metalektro
48  800002         24-28 Metalektro (geen transport)
49  328105  24-25 Basismetaal, metaalprod.-industrie
50  328100                   24 Basismetaalindustrie
51  330300               25 Metaalproductenindustrie
52  332905  26-28 Elektrotechn. en machine-industrie
53  332910  26-27 Elektrische en elektron. Industrie
54  332900            26 Elektrotechnische industrie
55  334800         27 Elektrische apparatenindustrie
56  336500                      28 Machine-industrie
57  339205          29-30 Transportmiddelenindustrie
58  339200         29 Auto- en aanhangwagenindustrie
59  340200     30 Overige transportmiddelenindustrie
60  341600                        31 Meubelindustrie
61  342400                      32 Overige industrie
62  344400  33 Reparatie en installatie van machines
63  346600                      D Energievoorziening
64  346700                       35 Energiebedrijven
65  348000           E Waterbedrijven en afvalbeheer
66  348100                  36 Waterleidingbedrijven

[67 rows x 2 columns]

### 1.8 Perioden

In [62]:
dfPerioden = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/Perioden")
dfPeriodenlist = dfPerioden["value"].tolist()
dfPeriod = pd.DataFrame(dfPeriodenlist)

In [66]:
#dfPeriod

In [73]:
plt.figure(figsize=(10,8))
partialcolumns = newDF2[["OntwikkelingTOV1JaarEerder_2","OntwikkelingTOV1MaandEerder_3"]]
std_scale = preprocessing.StandardScaler().fit(partialcolumns)
df_std = std_scale.transform(partialcolumns)

plt.scatter(partialcolumns['OntwikkelingTOV1JaarEerder_2'], partialcolumns['OntwikkelingTOV1MaandEerder_3'],color="grey", marker='^')
plt.scatter(df_std[:,0], df_std[:,1])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').