In [182]:
import pandas as pd
import json

# 1. Data exploration
deep dive into the world of pandas

## 1.1 UntypedDataSet

In [147]:
# initialiseer dataframe.
dfUntypedDataSet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/UntypedDataSet?$top=1")

In [148]:
# Loop tot alle data points in dataframe zitten met limiet van 10000 per keer.
top = 9668
skip = 1
while skip < 96681:
    big = dfUntypedDataSet.append(pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/UntypedDataSet?$top=" + str(top) + "&$skip=" + str(skip)))
    skip = skip + 9668
    dfUntypedDataSet = big

Nu hebben we de alle UntypedDataSet in een df, hiervan willen we alleen de values.

In [174]:
# lijst maken van values in df.
DatasetUntypesList = dfUntypedDataSet["value"].tolist()

In [175]:
# dataframe maken van lijst met beoogde values.
newDF = pd.DataFrame(DatasetUntypesList)

In [178]:
newDF

,Afzet,BedrijfstakkenBranchesSBI2008,ID,OntwikkelingTOV1JaarEerder_2,OntwikkelingTOV1MaandEerder_3,Perioden,ProducentenprijsindexPPI_1,Wegingcoefficient_4
0,A6,305700,0,,,1981MM01,53.8,-
1,A6,305700,1,,0.6,1981MM02,54.1,-
2,A6,305700,2,,0.4,1981MM03,54.3,-
3,A6,305700,3,,0.0,1981MM04,54.3,-
4,A6,305700,4,,0.4,1981MM05,54.5,-
5,A6,305700,5,,1.0,1981MM06,55.0,-
6,A6,305700,6,,1.0,1981MM07,55.6,-
7,A6,305700,7,,-0.1,1981MM08,55.5,-
8,A6,305700,8,,-0.2,1981MM09,55.4,-
9,A6,305700,9,,-0.1,1981MM10,55.4,-
10,A6,305700,10,,0.0,1981MM11,55.4,-
11,A6,305700,11,,0.0,1981MM12,55.4,-
12,A6,305700,12,,,1981JJ00,54.9,-
13,A6,305700,13,7.6,4.5,1982MM01,57.9,-
14,A6,305700,14,7.8,0.8,1982MM02,58.3,-
15,A6,305700,15,8.1,0.7,1982MM03,58.7,-
16,A6,305700,16,9.4,1.2,1982MM04,59.4,-
17,A6,305700,17,9.4,0.3,1982MM05,59.6,-
18,A6,305700,18,8.0,-0.3,1982MM06,59.4,-
19,A6,305700,19,6.5,-0.3,1982MM07,59.2,-
20,A6,305700,20,6.2,-0.4,1982MM08,58.9,-
21,A6,305700,21,5.7,-0.6,1982MM09,58.6,-
22,A6,305700,22,5.7,0.0,1982MM10,58.5,-
23,A6,305700,23,6.6,0.8,1982MM11,59.0,-
24,A6,305700,24,6.7,0.2,1982MM12,59.1,-
25,A6,305700,25,7.3,,1982JJ00,58.9,-
26,A6,305700,26,2.5,0.3,1983MM01,59.3,-
27,A6,305700,27,1.7,-0.1,1983MM02,59.3,-
28,A6,305700,28,0.9,0.0,1983MM03,59.2,-
29,A6,305700,29,-0.3,0.0,1983MM04,59.2,-
...,...,...,...,...,...,...,...,...
96651,A5,348100,96651,,,2015MM10,,-
96652,A5,348100,96652,,,2015MM11,,-
96653,A5,348100,96653,,,2015MM12,,-
96654,A5,348100,96654,,,2015JJ00,,-
96655,A5,348100,96655,,,2016MM01,,-
96656,A5,348100,96656,,,2016MM02,,-
96657,A5,348100,96657,,,2016MM03,,-
96658,A5,348100,96658,,,2016MM04,,-
96659,A5,348100,96659,,,2016MM05,,-
96660,A5,348100,96660,,,2016MM06,,-
96661,A5,348100,96661,,,2016MM07,,-
96662,A5,348100,96662,,,2016MM08,,-
96663,A5,348100,96663,,,2016MM09,,-
96664,A5,348100,96664,,,2016MM10,,-
96665,A5,348100,96665,,,2016MM11,,-
96666,A5,348100,96666,,,2016MM12,,-
96667,A5,348100,96667,,,2016JJ00,,-
96668,A5,348100,96668,,,2017MM01,,-
96669,A5,348100,96669,,,2017MM02,,-
96670,A5,348100,96670,,,2017MM03,,-
96671,A5,348100,96671,,,2017MM04,,-
96672,A5,348100,96672,,,2017MM05,,-
96673,A5,348100,96673,,,2017MM06,,-
96674,A5,348100,96674,,,2017MM07,,-
96675,A5,348100,96675,,,2017MM08,,-
96676,A5,348100,96676,,,2017MM09,,-
96677,A5,348100,96677,,,2017MM10,,-
96678,A5,348100,96678,,,2017MM11,,-
96679,A5,348100,96679,,,2017MM12,,-
96680,A5,348100,96680,,,2017JJ00,,-

## 1.2 Typed DataSet

In [150]:
dftypedDataSet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet?$top=1")

In [151]:
top = 9668
skip = 1
url = "http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet"
while skip < 96681:
    big = dftypedDataSet.append(pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TypedDataSet?$top=" + str(top) + "&$skip=" + str(skip)))
    skip = skip + 9668
    dftypedDataSet = big

In [179]:
# lijst maken van values in df.
DatasetTypedList = dftypedDataSet["value"].tolist()

In [180]:
# dataframe maken van lijst met beoogde values.
newDF2 = pd.DataFrame(DatasetTypedList)

In [181]:
newDF2

,Afzet,BedrijfstakkenBranchesSBI2008,ID,OntwikkelingTOV1JaarEerder_2,OntwikkelingTOV1MaandEerder_3,Perioden,ProducentenprijsindexPPI_1,Wegingcoefficient_4
0,A6,305700,0,NaN,NaN,1981MM01,53.8,0.0
1,A6,305700,1,NaN,0.6,1981MM02,54.1,0.0
2,A6,305700,2,NaN,0.4,1981MM03,54.3,0.0
3,A6,305700,3,NaN,0.0,1981MM04,54.3,0.0
4,A6,305700,4,NaN,0.4,1981MM05,54.5,0.0
5,A6,305700,5,NaN,1.0,1981MM06,55.0,0.0
6,A6,305700,6,NaN,1.0,1981MM07,55.6,0.0
7,A6,305700,7,NaN,-0.1,1981MM08,55.5,0.0
8,A6,305700,8,NaN,-0.2,1981MM09,55.4,0.0
9,A6,305700,9,NaN,-0.1,1981MM10,55.4,0.0
10,A6,305700,10,NaN,0.0,1981MM11,55.4,0.0
11,A6,305700,11,NaN,0.0,1981MM12,55.4,0.0
12,A6,305700,12,NaN,NaN,1981JJ00,54.9,0.0
13,A6,305700,13,7.6,4.5,1982MM01,57.9,0.0
14,A6,305700,14,7.8,0.8,1982MM02,58.3,0.0
15,A6,305700,15,8.1,0.7,1982MM03,58.7,0.0
16,A6,305700,16,9.4,1.2,1982MM04,59.4,0.0
17,A6,305700,17,9.4,0.3,1982MM05,59.6,0.0
18,A6,305700,18,8.0,-0.3,1982MM06,59.4,0.0
19,A6,305700,19,6.5,-0.3,1982MM07,59.2,0.0
20,A6,305700,20,6.2,-0.4,1982MM08,58.9,0.0
21,A6,305700,21,5.7,-0.6,1982MM09,58.6,0.0
22,A6,305700,22,5.7,0.0,1982MM10,58.5,0.0
23,A6,305700,23,6.6,0.8,1982MM11,59.0,0.0
24,A6,305700,24,6.7,0.2,1982MM12,59.1,0.0
25,A6,305700,25,7.3,NaN,1982JJ00,58.9,0.0
26,A6,305700,26,2.5,0.3,1983MM01,59.3,0.0
27,A6,305700,27,1.7,-0.1,1983MM02,59.3,0.0
28,A6,305700,28,0.9,0.0,1983MM03,59.2,0.0
29,A6,305700,29,-0.3,0.0,1983MM04,59.2,0.0
...,...,...,...,...,...,...,...,...
96651,A5,348100,96651,NaN,NaN,2015MM10,NaN,0.0
96652,A5,348100,96652,NaN,NaN,2015MM11,NaN,0.0
96653,A5,348100,96653,NaN,NaN,2015MM12,NaN,0.0
96654,A5,348100,96654,NaN,NaN,2015JJ00,NaN,0.0
96655,A5,348100,96655,NaN,NaN,2016MM01,NaN,0.0
96656,A5,348100,96656,NaN,NaN,2016MM02,NaN,0.0
96657,A5,348100,96657,NaN,NaN,2016MM03,NaN,0.0
96658,A5,348100,96658,NaN,NaN,2016MM04,NaN,0.0
96659,A5,348100,96659,NaN,NaN,2016MM05,NaN,0.0
96660,A5,348100,96660,NaN,NaN,2016MM06,NaN,0.0
96661,A5,348100,96661,NaN,NaN,2016MM07,NaN,0.0
96662,A5,348100,96662,NaN,NaN,2016MM08,NaN,0.0
96663,A5,348100,96663,NaN,NaN,2016MM09,NaN,0.0
96664,A5,348100,96664,NaN,NaN,2016MM10,NaN,0.0
96665,A5,348100,96665,NaN,NaN,2016MM11,NaN,0.0
96666,A5,348100,96666,NaN,NaN,2016MM12,NaN,0.0
96667,A5,348100,96667,NaN,NaN,2016JJ00,NaN,0.0
96668,A5,348100,96668,NaN,NaN,2017MM01,NaN,0.0
96669,A5,348100,96669,NaN,NaN,2017MM02,NaN,0.0
96670,A5,348100,96670,NaN,NaN,2017MM03,NaN,0.0
96671,A5,348100,96671,NaN,NaN,2017MM04,NaN,0.0
96672,A5,348100,96672,NaN,NaN,2017MM05,NaN,0.0
96673,A5,348100,96673,NaN,NaN,2017MM06,NaN,0.0
96674,A5,348100,96674,NaN,NaN,2017MM07,NaN,0.0
96675,A5,348100,96675,NaN,NaN,2017MM08,NaN,0.0
96676,A5,348100,96676,NaN,NaN,2017MM09,NaN,0.0
96677,A5,348100,96677,NaN,NaN,2017MM10,NaN,0.0
96678,A5,348100,96678,NaN,NaN,2017MM11,NaN,0.0
96679,A5,348100,96679,NaN,NaN,2017MM12,NaN,0.0
96680,A5,348100,96680,NaN,NaN,2017JJ00,NaN,0.0

### 1.3TableInfos

In [106]:
dfTableInfos = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/TableInfos")

In [112]:
dfTableInfos["value"]

0    {'ID': 0, 'Title': 'Producentenprijzen; SBI 20...
Name: value, dtype: object

### 1.4 DataProperties

In [113]:
dfDataProperties = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/DataProperties")
dfDataProperties["value"][0]

{'Description': '',
 'ID': 0,
 'Key': 'Afzet',
 'ParentID': None,
 'Position': 0,
 'Title': 'Afzet',
 'Type': 'Dimension',
 'odata.type': 'Cbs.OData.Dimension'}

### 1.5 CategoryGroups

In [114]:
dfCategoryGroups = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/CategoryGroups")
dfCategoryGroups["value"][0]

{'Description': '',
 'DimensionKey': 'BedrijfstakkenBranchesSBI2008',
 'ID': 0,
 'ParentID': None,
 'Title': 'Bedrijfstakken 1e digit (SBI 2008)'}

### 1.6 Afzet

In [115]:
dfAfzet = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/Afzet")
dfAfzet["value"][0]

{'CategoryGroupID': None,
 'Description': 'Afzet van in Nederland geproduceerde goederen door de betreffende (sub)sectie(s) ongeacht of deze zijn afgezet in binnenland of buitenland. ',
 'Key': 'A6',
 'Title': 'Totaal'}

### 1.7 BedrijfstakkenBranchesSBI2008

In [116]:
dfBedrijfstakkenBranchesSBI2008 = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/BedrijfstakkenBranchesSBI2008")
dfBedrijfstakkenBranchesSBI2008["value"][0]

{'CategoryGroupID': 1,
 'Description': 'Winning van delfstoffen\r\nDeze sectie omvat:\r\n- de winning van in de natuur voorkomende mineralen in vaste vorm (steenkool, turf en erts), in vloeibare vorm (aardolie) of in de vorm van een gas (aardgas). Winning vindt plaats door middel van ondergrondse mijnbouw, dagbouw of boringen.\r\nDeze sectie omvat voorts bijkomende bewerkingen die voor het vervoer en de afzet van de minerale producten noodzakelijk zijn, bijvoorbeeld het vergruizen, malen, wassen, drogen, sorteren of concentreren van ertsen, het vloeibaar maken van aardgas en het briketteren van vaste brandstoffen.\r\nDeze werkzaamheden worden vaak door de eenheden die de delfstoffen winnen zelf uitgeoefend en/of door andere eenheden in de buurt van de winplaats.\r\n\r\nDeze sectie omvat ook:\r\n- de vervaardiging van steenkool- en bruinkoolbriketten, het sinteren van ertsen;\r\n- het vergruizen, malen of op andere wijze behandelen van bepaalde soorten aarde, steen en mineralen.\r\n\r\nDeze sectie omvat niet:\r\n- de verwerking van delfstoffen (sectie C);\r\n- de productie aan de bron van natuurlijk bron- of mineraalwater (1107);\r\n- de winning, zuivering en distributie van water (3600).',
 'Key': '305700',
 'Title': 'B Delfstoffenwinning'}

### 1.8 Perioden

In [117]:
dfPerioden = pd.read_json("http://opendata.cbs.nl/ODataApi/OData/81975NED/Perioden")
dfPerioden["value"][0]

{'Description': '',
 'Key': '1981MM01',
 'Status': 'Definitief',
 'Title': '1981 januari'}